{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tracks</title>
    <script src="https://kit.fontawesome.com/38a8e64623.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'spotify/css/statspage.css' %}">
</head>
<header>
    <div class="topnav">
        <i class="fas fa-headphones fa-5x" style="color: white;"></i>
        <a href="" class="logo"> SpotiStats</a>
        <nav>
            <ul>
                <li><a href="/get-auth-url/" class="elem"> Login </a></li>
                <li><i class="fab fa-github fa-2x"></i><a href="https://github.com/Paula1415/Spotify-stats-visualizer" class="elem">Github</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    {% block include %}
    <h1 class="main-text">Your Stats</h1>
    <div class="charts">
        <div class="top-tracks">
            <h3>top tracks </h3>
            <ol>
                <li>{{ tracks.0 }}</li>
                <li>{{ tracks.1 }}</li>
                <li>{{ tracks.2 }}</li>
                <li>{{ tracks.3 }}</li>
                <li>{{ tracks.4 }}</li>
                <li>{{ tracks.5 }}</li>
                <li>{{ tracks.6 }}</li>
                <li>{{ tracks.7 }}</li>
                <li>{{ tracks.8 }}</li>
                <li>{{ tracks.9 }}</li>
            </ol>
        </div>
        <div class="top-artists">
            <h3>top artists</h3>
            <ol>
                <li>{{ artists.0 }}</li>
                <li>{{ artists.1 }}</li>
                <li>{{ artists.2 }}</li>
                <li>{{ artists.3 }}</li>
                <li>{{ artists.4 }}</li>
                <li>{{ artists.5 }}</li>
                <li>{{ artists.6 }}</li>
                <li>{{ artists.7 }}</li>
                <li>{{ artists.8 }}</li>
                <li>{{ artists.9 }}</li>
            </ol>
        </div>

    </div>
    <button type="button" class="collapsible"> What each audio feature means? > </button>
    <div class="content">
        <li>Acousticness: A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.</li>
        <li>Danceability: Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.</li>
        <li> Energy: Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity . Typically, energetic tracks feel fast, loud, and noisy. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.</li>
        <li>Instrumentalness: Predicts whether a track contains no vocals. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.</li>
        <li>
            Liveness: Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides a strong likelihood that the track is live.
        </li>
        <li>
            Speechiness: Speechiness detects the presence of spoken words in a track. The more speech-like the recording (e.g. talk show, audiobook, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, Values below 0.33 most likely represent music and other non-speech-like tracks.
        </li>
        <li>
            Valence: A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).
        </li>
    </div>
    </div>
    <div class="plots">
        <div class="plt">
        <h3>Scatterplot showing the relation between energy and valence </h3>
            <p>points toward the top right corner, will be more energetic and happier,<br> and points toward the bottom right corner, slower and more sad</p>
            {{ stripplot|safe }}
        </div>
        <h3> Barplot comparing audio features</h3>
        {{ bar_catplot|safe }}
        <h3>heatmap showing the value of each feature</h3>
        <p>min: 0, max: 1</p>
        {{ heatmap|safe }}
        <h3>scatterplot showing the relation between danceability and valence</h3>
        {{ facetplot|safe }}
        <div class="row">
            <h3>kde plot showing the mean of every feature</h3>
            <div class="column">
                <h4>user top tracks</h4>
                {{ kdeplot|safe }}
            </div>
            <div class="column">
                <h4>Top 50: Global</h4>
                {{ globalkde|safe}}
            </div>
            <div class="column">
                <h4>Today Top Hits</h4>
                {{ todaykde|safe }}
            </div>

        </div>
    </div>
    <script src="{% static 'spotify/js/collapsible.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'spotify/js/onload.js' %}"></script>
    {% endblock include %}
</body>
<footer>
    <div class="wrapper">
        <nav>
            <ul>
                <li class="login"><a href="/get-auth-url/" > Login </a></li>
                <li><i class="fab fa-github fa-2x"></i><a href="https://github.com/Paula1415/Spotify-stats-visualizer">Github</a></li>
            </ul>
        </nav>
    </div>
</footer>
</html>