{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/38a8e64623.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'spotify/css/landingpage.css' %}">

    <title>Document</title>
</head>
<header>
    <div class="topnav">
        <i class="fas fa-headphones fa-5x" style="color: white;"></i>
        <a href="" class="logo"> SpotiStats</a>

        <nav>
            <ul>
                <li><a href="/get-auth-url/" class="elem"> Login </a></li>
                <li><i class="fab fa-github fa-2x"></i><a href="https://github.com/Paula1415/Spotify-stats-visualizer" class="elem">Github</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    <div class="maintext">
        <h1>Spotify Stats <br> Visualizer</h1>
    </div>
    <div class="scene"></div>
    <script src="{% static 'spotify/js/three.min.js'%}"></script>
    <script src="{% static 'spotify/js/GLTFLoader.js'%}"></script>
    <script src="{% static 'spotify/js/3dAnimations.js'%}"></script>
</body>
</html>