<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userdata</title>
</head>
<body>
    <h1>your stats</h1>
    {% block include %}
        <ul>
            <li>{{ userdata.0 }}</li>
            <li>{{ userdata.1 }}</li>
            <li>{{ userdata.2 }}</li>
            <li>{{ userdata.3 }}</li>
            <li>{{ userdata.4 }}</li>
            <li>{{ userdata.5 }}</li>
            <li>{{ userdata.6 }}</li>
            <li>{{ userdata.7 }}</li>
            <li>{{ userdata.8 }}</li>
            <li>{{ userdata.9 }}</li>
        </ul>
    {% endblock include %}
</body>
</html>