<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tracks</title>
</head>
<body>
    <h1>your stats</h1>
    {% block include %}
        {{ x }}
        <h3>top tracks</h3>
        <ul>
            <li>{{ tracks.0 }}</li>
            <li>{{ tracks.1 }}</li>
            <li>{{ tracks.2 }}</li>
            <li>{{ tracks.3 }}</li>
            <li>{{ tracks.4 }}</li>
        </ul>
        <h3>audio analysis of user top tracks</h3>
            {{ user_plot|safe }}
        <h3>audio analysis of top 50 global playlist</h3>
            {{ global_plot|safe }}
        <h3>today hits audio analysis</h3>
            {{ today_plot|safe }}

        {{ stripplot|safe }}
        {{ bar_catplot|safe }}
    {% endblock include %}
</body>
</html>